{
    "version" : "2017-02-28",
    "operation" : "GetItem",
    "key" : {
      "pk" : $util.dynamodb.toDynamoDBJson("USER"),
      "sk" : $util.dynamodb.toDynamoDBJson("user#$ctx.args.userId")
    }
}