.signup-title {
    text-align: center;
}

.form {
    background-color: white;
    border-radius: 5px;
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    display: block;
}

.form-body {
    padding: 20px 10px;
}

.form-body>* {
    padding: 5px;
}

.form_label {
    color: #2c3e50;
    text-align: right;
    width: 30%;
    margin: 0 10px 0 0;
    display: inline-block;
}

.form-row input {
    text-align: center;
    width: 60%;
}

.checker {
    text-align: right;
}

.checker h5 {
    color: #2c3e50;
}

.checker h5 img {
    width: 20px;
    height: 20px;
}

.form-footer {
    text-align: center;
}

.form-footer button {
    margin-top: 20px
}

#verification {
    width: 25%;
}

#verification .form_label {
    color: #2c3e50;
    text-align: center;
    width: 60%;
    margin: 0 10px 0 0;
    display: inline-block;
}

#verification .form-row input {
    text-align: center;
    width: 30%;
}

#verification button {
    margin-top: 20px
}
